absl-py==0.8.1
astor==0.8.0
bcrypt==3.1.4
blinker==1.4
certifi==2019.9.11
cffi==1.11.5
chardet==3.0.4
click==6.7
DateTime==4.3
Flask==1.0
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
idna==2.8
itsdangerous==0.24
Jinja2==2.10
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.0
numpy==1.17.3
opt-einsum==3.1.0
pandas==0.25.2
pandas-datareader==0.8.1
Pillow==5.3.0
protobuf==3.10.0
pycparser==2.18
pygal==2.4.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
six==1.11.0
SQLAlchemy==1.2.7
stripe==2.37.2
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.14.1
wrapt==1.11.2
WTForms==2.1
zope.interface==4.6.0